
.DS_Store
SUD/Java/.idea/Java.iml
SUD/Java/.idea/material_theme_project_new.xml
SUD/Java/.idea/misc.xml
SUD/Java/.idea/modules.xml
SUD/Java/.idea/vcs.xml
SUD/Java/sortieralgos/.idea/material_theme_project_new.xml
SUD/Java/sortieralgos/.idea/vcs.xml
